{# accordion.twig #}

{% block accordion %}

                        <div id="accordion">
                            <button class="accordion-button text-left"><i class="fa fa-video-camera"></i><h4>VÍDEOS</h4><i class="glyphicon glyphicon-chevron-up chevron pull-right"></i></button>
                            <div class="accordion-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/G1a1V9S3e_4?" allowfullscreen="allowfullscreen"></iframe>
                                </div><br/>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/G1a1V9S3e_4?" allowfullscreen="allowfullscreen"></iframe>
                                </div><br/>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/G1a1V9S3e_4?" allowfullscreen="allowfullscreen"></iframe>
                                </div><br/>
                            </div><!-- /.accordion-box -->
                            <button class="accordion-button text-left"><i class="fa fa-picture-o"></i><h4>IMAGENS</h4><i class="glyphicon glyphicon-chevron-down chevron pull-right"></i></button>
                            <div class="accordion-box">
                                <div class="container-flex">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                    </div><br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                    </div><br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                    </div><br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#"><img class="img-responsive" src="assets/img/TG5000.jpg"/></a>
                                        </div>
                                    </div><br/>
                                </div><!-- /.container-flex -->
                            </div><!-- /.accordion-box -->
                            <button class="accordion-button text-left"><i class="fa fa-book"></i><h4>DOCUMENTAÇÃO</h4><i class="glyphicon glyphicon-chevron-down chevron pull-right"></i></button>
                            <div class="accordion-box">
                                <ul>
                                    <li><a href="#"><i class="glyphicon glyphicon-save-file"></i> Manual da TG5000</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-save-file"></i> Dicas de Manutenção</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-save-file"></i> Lista de Assistências Autorizadas</a></li>
                                </ul>
                            </div><!-- /.accordion-box -->
                                            
{% endblock accordion %}