{% extends "base.twig" %}


{% block fold %}
<!-- FOLD -->
    {% block slider %}
        {% include 'slider.twig' %}

<div class="container-flex fold no-padding">
        <div class="col-md-9 no-padding full-height">
            {% include 'slider-control.twig' %}
        </div>
    {% endblock slider %}

    {% block rightbar %}
        <div class="col-md-3 no-padding full-height blur">
            {% include 'rightbar.twig' %}
        </div>
    {% endblock rightbar %}

</div><!-- /.container-flex -->
{% endblock fold %}

{% block content %}
    {% include 'body-content.twig' %}
{% endblock content %}