{# single-maquina.twig #}

{% extends "single.twig" %}

{# Let's add our lightbox twig. This will only be visible when called through javascript #}
{% block gallerylightbox %}
{% include 'gallery-lightbox.twig' %}
{% endblock gallerylightbox %}

{# This twig will be called when we are visualizing a single post page #}
{% block fold %}
<div class="container-flex fold no-padding">
    <div class="col-md-6 no-padding full-height">
        {% include 'slider-machine.twig' %}
    </div><!-- /.col-md-6 -->
    <div class="col-md-3 no-padding full-height">
        {% include 'middlebar.twig' %}
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 no-padding full-height blur">
        {% include 'product-rightbar.twig' %}
    </div><!-- /.col-md-3 -->
</div><!-- /.container-flex -->
{% endblock fold %}

{% block content %}   
    {% include 'body-content.twig' %}
    {% include 'more-content.twig' %}
{% endblock content %}

{#% endif %#}