// --------------------------------------------------
//                  Text Colors
// --------------------------------------------------

.color-main { color: $color-main !important; }
.color-black { color: $color-black !important; }
.color-grey { color: $color-grey !important; }
.color-dark-grey { color: $color-dark-grey !important; }
.color-white { color: $color-white !important; }
.color-title { color: $color-title !important; }
.color-subtitle { color: $color-subtitle !important; }
.color-copy { color: $color-copy !important; }
.color-link { color: $color-link !important; }
.color-hover { color: $color-hover !important; }
.color-active { color: $color-active !important; }
.color-visited { color: $color-visited !important; }
.color-background { color: $color-background  !important; }
.color-box { color: $color-box !important; }

// --------------------------------------------------
//                  Link Colors
// --------------------------------------------------

.link-black { color: $color-black !important; &:hover, &:active, { color: $color-main !important; } }
.link-white { color: $color-white !important; &:hover, &:active, { color: $color-main !important; } }

// --------------------------------------------------
//                 Background Colors
// --------------------------------------------------

.bg-color-main { background-color: $color-main !important; }
.bg-color-black { background-color: $color-black !important; }
.bg-color-grey { background-color: $color-grey !important; }
.bg-color-dark-grey { background-color: $color-dark-grey !important; }
.bg-color-white { background-color: $color-white !important; }
.bg-color-title { background-color: $color-title !important; }
.bg-color-subtitle { background-color: $color-subtitle !important; }
.bg-olor-copy { background-color: $color-copy !important; }
.bg-color-link { background-color: $color-link !important; }
.bg-color-hover { background-color: $color-hover !important; }
.bg-color-active { background-color: $color-active !important; }
.bg-color-visited { background-color: $color-visited !important; }
.bg-color-background { background-color: $color-background  !important; }
.bg-color-box { background-color: $color-box !important; }
