// Blur effect, for Frozen Glass
.blur {
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}