/*---------------------------------------------------------------

    This is the btn-custom class file. Just a quick fix to
    bootstrap behaviour.

--------------------------------------------------------------*/

.btn-custom {
    background-color: $color-main;
    color: $color-copy;
    padding: 0 20px;
        h5 {
            text-align: center;
        }
}

.btn-yellow, .btn-square, .btn-rightbar {
    background-color: $color-main;
    color: $color-copy;
    padding: 0 .3em;
    height: 1.5em;
}

.btn-rightbar {
    width: 1em;
    height: .2em;
    display: inline-block;
    padding: .2em;
    margin: auto .3em;
}

.btn-yellow h6 {
    text-align: center;
    color: $color-black;
    margin: 0;
}

.btn-square {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.btn-square p {
    position: relative;
    bottom: 9px;
    right: 3px;
    text-indent: 0;
    color: $color-copy !important;
}

.btn-flex {
    width: 100%;
}

.plus-fix p {
    text-indent: 0;
}

.next-menu {
    min-width: 10px;
    min-height: 10px;
}

#btn-fold {
    position: absolute;
    bottom: 3em;
    left: 3em;
    padding: 0 1em;
    height: 3em;
    z-index: 99;
}