/*---------------------------------------------------/
/                                                    /
/  FORMS - Here you'll find the form field classes.  /
/  You might wanna check the accordion file as well. /
/                                                    /
/---------------------------------------------------*/

.contact-field {
    width: 100%;
    border-width: 0;
    background-color: $color-grey;
    padding: 0.5em;
    margin: 1em 0 1em 0;
}