.square-thumb {
    width: 50%;
    position: relative;
    left: 25%;
    @include breakpoint($screen-md-min) {
        position: relative;
        left: 0;
        width: 100%;
    }
}

.square-thumb:after {
    content: '';
    display: block;
    padding-bottom: 20%;
}