/*---------------------------------------------------/
/                                                    /
/        MIDDLE BAR - Usefull for text display       /
/            with invisible scrolling.               /
/                                                    /
/---------------------------------------------------*/

// --------------------------------------------------
// Those properties are inherited by .slider-gradient
// --------------------------------------------------
.middlebar {
    width: 100%;
    background-color: $color-grey;
    padding: 20px;
    margin: 0;
    overflow-y: scroll;
    ::-webkit-scrollbar { 
    display: none; 
    }
    @include breakpoint($screen-lg-min) {
        width: 100%;
        height: 100vh;
        padding-top: 10em;
        overflow-y: scroll;
    } 
}

.middlebar-container {
    position: absolute;
    bottom: 0;

    @include breakpoint($screen-lg-min) {
        position: static;
    }
}