/*---------------------------------------------------/
/                                                    /
/   PHOTO STRIPE -  This will only be show in pages  /
/      that have thumbnails attached to them.        /
/                                                    /
/---------------------------------------------------*/


.photo-stripe {
    width: 100%;
    min-height: 160px;
    height: 15.70%;
    margin: 0;
}