/*---------------------------------------------------/
/                                                    /
/   POST SLIDER - If you need to mess with the main  /
/   page slider an it's controls, here's the place!  /
/                                                    /
/---------------------------------------------------*/

// --------------------------------------------------
//                   Slide Wrappers
// --------------------------------------------------
.slider, .slide {
    width: 100%;
    height: 100%;
    font-family: $font-title;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

// --------------------------------------------------
//          Control and slider-gradient Wrapper
// --------------------------------------------------
.slider-control {
    width: 100%;
    height: 100%;
}

.slider-nav, .product-slider-nav {
    width: 100%;
    text-align: center;
}

.product-slider-nav {
    width: 100%;
    position: relative;
    bottom: 30%;
    z-index: 1;
    left: 0;
}

.slider-gradient {
    @extend .middlebar;
    background-color: none;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -o-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    right: 0;
}

// --------------------------------------------------
//       Arrows and Dots for the Slider Control
// --------------------------------------------------
.arrow-next, .arrow-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    z-index: 1;
    background-color: $color-black;
    color: $color-white;
        &:hover {
        background-color: $color-main;
        color: $color-black;
    }
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
}

.arrow-icon {
    color: $color-white;
    &:hover { color: $color-black; }
    margin: 33% auto;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    display: inline;
    font-size: 30px;
    margin-right: 5px;
    color: white;
}

.slider-dots li.active-dot {
    color: $color-main;
}


// --------------------------------------------------
//   Alternative Slider sizes for the Product Page
// --------------------------------------------------
.product-slider, .product-slider-control {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-slider-control {
    position: relative;
    top: 12%;
}

// --------------------------------------------------
//             Here's where the title goes
// --------------------------------------------------
.post-title-bar {
    width: 100%;
    height: 12em;
    min-height: 190px;
    font-family: $font-title;
    font-weight: bold;
    position: relative;
    margin-top: 50vh;

    h1 { 
        margin: 0;
        font-size: 3em !important;

        @include breakpoint($screen-sm-min) {
            font-size: 5em !important;
        }
    }

    h4 { 
        margin: 0;
        font-size: 1em !important;

        @include breakpoint($screen-lg-min) {
            font-size: 1.5em !important;
        }
    }

    @include breakpoint($screen-lg-min) {
    min-height: 230px;
    }
}

.slide-title {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    text-align: center;
    color: $color-title;
    position: absolute;
    top: 50%;
    left: 50%;
    
    @include breakpoint($screen-xs-min, $screen-md-max) {
        transform: translate(-50%, -50%);
    }
    
    @include breakpoint($screen-lg-min) {
        position: relative;
    }
        
        h1 {
            font-size: 7em;
            color: $color-title;
            @media only screen and (min-width: 321px) and (max-width: 1265px) {
                font-size: 5em;
            }
        }
    
        h4 {
            color: $color-subtitle;
            font: { family: $font-copy; size: 2em; weight: normal; }
            @media only screen and (min-width: 321px) and (max-width: 1265px) { font-size: 1.5em; }
        }
        
        a {
            &, &:hover, &:active, &:visited {
                color: $color-main;
                font-family: $font-copy;
                text-transform: uppercase;
            }
        }
        
        i { color: $color-main; }

    display: none;

}

.slide-subtitle {
    position: absolute;
    right: 20px;
    bottom: 10%;
}

// --------------------------------------------------
//                     Elements
// --------------------------------------------------

#btn-fold {
    position: absolute;
    bottom: 10%;
    left: 3em;
}

// --------------------------------------------------
//  This class should be attached to the first slide
// --------------------------------------------------
.active-slide {
    display: block;
}

.active-title {
    display: block;
}
