/*---------------------------------------------------/
/                                                    /
/   POST SLIDER - If you need to mess with the main  /
/   page slider an it's controls, here's the place!  /
/                                                    /
/---------------------------------------------------*/

// --------------------------------------------------
//                   Slide Wrappers
// --------------------------------------------------
.slider, .slide {
    width: 100%;
    height: 100%;
    font-family: $font-title;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.slider-body {
    position: relative;
    top: 0;
    left: 0;
}

// --------------------------------------------------
//          Control and slider-gradient Wrapper
// --------------------------------------------------
.slider-control {
    width: 81%;
    height: 100%;
    position: relative;
    left: 0;
}

.slider-nav, .product-slider-nav {
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 30%;
    z-index: 1;
}

.product-slider-nav {
    width: 50%;
    position: absolute;
    bottom: 30%;
    z-index: 1;
    left: 0;
}

.slider-gradient {
    @extend .middlebar;
    background-color: none;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -o-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    right: 0;
}

// --------------------------------------------------
//       Arrows and Dots for the Slider Control
// --------------------------------------------------
.arrow-next, .arrow-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    z-index: 1;
    background-color: $color-black;
    color: $color-white;
        &:hover {
        background-color: $color-main;
        color: $color-black;
    }
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
}

.arrow-icon {
    color: color-main;
    margin: 33% auto;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    display: inline;
    font-size: 30px;
    margin-right: 5px;
    color: white;
}

.slider-dots li.active-dot {
    color: $color-main;
}


// --------------------------------------------------
//   Alternative Slider sizes for the Product Page
// --------------------------------------------------
.product-slider, .product-slider-control {
    width: 50%;
    height: 100%;
    position: relative;
    left: 0;
}

.product-slider-control {
    position: absolute;
    top: 12%;
}

// --------------------------------------------------
//             Here's where the title goes
// --------------------------------------------------
.post-title-bar {
    width: 100%;
    height: 20%;
    min-height: 230px;
    font-family: $font-title;
    font-weight: bold;
    position: absolute;
    top: 60%;
    margin-top: -11%;
}

// --------------------------------------------------
//      Alternative Right Bar Title Positioning
// --------------------------------------------------
.slide-title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $color-title;
    display: none;
        
        h1 {
            font-size: 100pt;
            color: $color-title;
        }
    
        h4 {
        color: $color-subtitle;
        font-family: $font-copy;
        font-size: 20pt;
        font-weight: normal;
        }
        
        a {
            &, &:hover, &:active, &:visited {
                color: $color-main;
                font-family: $font-copy;
                text-transform: uppercase;
            }
        }
        
        i {
            color: $color-main;
        }
}

.slide-subtitle {
    position: absolute;
    right: 20px;
    bottom: 10%;
}

// --------------------------------------------------
//     Post-img classes, for prototyping purposes
// --------------------------------------------------
.post-img-1 {
    @include slider-post-img(url(../img/BC1000XL.jpg));
}

.post-img-2 {
    @include slider-post-img(url(../img/D36x50II_Action15.jpg));
}

.post-img-3 {
    @include slider-post-img(url(../img/RTX250_Action3.jpg));
}

.product-img-1, .biomassa-img-1 {
    @include slider-post-img(url(../img/TG5000.jpg));
}

// --------------------------------------------------
//  This class should be attached to the first slide
// --------------------------------------------------
.active-slide {
    display: block;
}
