/*---------------------------------------------------/
/                                                    /
/   PRODUCTS - Here you'll find some of the classes  /
/        that deal with the product content.         /
/                                                    /
/---------------------------------------------------*/

.product-thumbnail {
    
    height: 300px;
    
}

.gallery-thumbnail {
    
    width: 100%;
    margin: 1em auto;
    
}