/*---------------------------------------------------/
/                                                    /
/    YOUTUBE - This is a simple class to restrain    /
/          the videos embbed via shortcodes.         /
/                                                    /
/---------------------------------------------------*/

.youtube {
    max-width: 93%;
    max-height: 250px;;
    margin: 10px 0;
}