/*---------------------------------------------------/
/                                                    /
/  BODY CONTENT - Here's the wrapper for the bellow  /
/          the fold content and it's classes.        /
/                                                    /
/---------------------------------------------------*/

// --------------------------------------------------
//    BODY WRAPPER (Yeah, awesome gangsta nickname)
// --------------------------------------------------
.body-content {
    background-color: $color-white;
    width: 100%;
    padding: 2em 1em !important;

        p {
            font-size: 12pt;
            text-align: justify; 
            text-indent: 3em;
        }
        .size-large { 
            margin: 0 auto;
        }

        h1 { 
            color: $color-main;
            margin: 0 !important;
        }

        .container, .container-flex {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
}

.home-body {
    p{
        text-align: left;
        text-indent: 0 !important;
    }
}

.container-cat {

    .square-thumb:after {
        padding-bottom: 100% !important;
    }

    h4 {
        position: relative;
        top: -.2em;
    }
    
    hr {
        position: relative;
        top: -1.2em;
    }

    ul {
        position: relative;
        top: -2.2em;
    }
}