/*---------------------------------------------------/
/                                                    /
/ FOOTER CONTENT - Here's the wrapper for the bellow /
/          the fold footer and it's classes.         /
/                                                    /
/---------------------------------------------------*/

// --------------------------------------------------
//                  Footer Wrapper
// --------------------------------------------------
.footer-content {
    background-color: $color-footer;
    border-top: 5px solid $color-main;
    min-height: 10em;
    padding: 10px 1em;
    color: white;

    @include breakpoint($screen-lg-min) {
        padding: 10px 10em;
    }
    
        h5 {
            margin-bottom: 0.5em;
            color: $color-white;
            @include breakpoint($screen-lg-min) {
                letter-spacing: 3px;
            }
        }
    
        a {
            &, &:hover, &:active, &:visited {
                color: $color-main;
                text-decoration: none;
                display: block;
                margin: 0.1em 0 0 0;
                font-weight: bold;
            }
        }
        p {
            color: $color-white;
            font-size: .7em;

            @include breakpoint($screen-lg-min) {
                font-size: 1em;
            }
        }
        span { 
            font: { family: "open sans condensed", sans-serif; size: 0.9em; }
            hr { border: 1px dashed $color-main !important; }
        }
}

.footer-circle {
    margin-top: 3em;
    width: 2em;
    height: 2em;
    
    @include breakpoint($screen-xl-min) {
        width: 3em;
        height: 3em;
    }
}

.footer-circle i {
    padding-top: 0.5em;
    
    @include breakpoint($screen-xl-min) {
        padding-top: 1em;
    }
}