{# footer-content.twig #} 

{% block footercontent %}

<!-- FOOTER CONTENT -->

<div class="footer-content">
    <div class="container-flex">
        <div class="row">
            {% for footersection in footermenu.get_items %}
            <div class="col-xs-3 col-sm-3 col-md-2">
                <h5>{{footersection.title|upper}}</h5>
                {% for footerlink in footersection.get_children %}
                <a href="{{footerlink.link}}">{{footerlink.title|capitalize}}</a>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="col-xs-3 col-sm-3 col-md-2">
                <h5>Eventos</h5>
                <a href="#">Próximos Eventos:</a>
                <span>
                    <strong>Nenhum evento agendado neste momento.</strong><br/>
                    <!--Dia - 01/01/2016<br/>
                    Local: Rua Campinas - Campinas/SP
                        <div class="btn btn-square text-center">
                            <p>+</p>
                        </div>
                    <hr/>
                    <strong>Evento 2</strong><br/>
                    Dia - 01/01/2016<br/>
                    Local: Rua Campinas - Campinas/SP
                        <div class="btn btn-square text-center">
                            <p>+</p>
                        </div>-->
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
                <div class="col-xs-12 col-sm-9 col-md-6">
                </div>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    <div class="col-xs-3 col-md-3">
                        <a href="https://www.facebook.com/VermeerBrasil" target="_blank">
                            <div class="footer-circle center-block text-center">
                                <i class="fa fa-facebook"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <a href="http://www.instagram.com/VermeerBrasil" target="_blank">
                            <div class="footer-circle center-block text-center">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <a href="https://www.linkedin.com/company/vermeer-latin-america" target="_blank">
                            <div class="footer-circle center-block text-center">
                                <i class="fa fa-linkedin"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <a href="http://www.youtube.com/VermeerLatinAmerica" target="_blank">
                            <div class="footer-circle center-block text-center">
                                <i class="fa fa-youtube"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="col-xs-6 col-md-6 text-left">
                <p>R. Francisco Juliato, 79 - Vale Verde, Valinhos - SP, 13279-000</p>
            </div>
            <div class="col-xs-6 col-md-6 text-right">
                <p>© 2016 Vermeer Brasil. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</div>

{% endblock footercontent %}