{# footer-content.twig #}
           
{% block footercontent %}
           
<!-- FOOTER CONTENT -->
       
        <div class="footer-content">   
            <div class="container-flex">
                <div class="row">
                    <div class="col-md-2">
                        <h5>Institucional</h5>
                        <a href="#">Trabalhe Conosco</a>
                        <a href="#">Política</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Parceiros</h5>
                        <a href="#">Kennametal</a>
                        <a href="#">Mclaughlin</a>
                        <a href="#">Digitrak</a>
                        <a href="#">System Mud</a>
                        <a href="#">Dismotor</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Newsletter</h5>
                        <a href="#">Cadastro</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Eventos</h5>
                        <a href="#">Próximos Eventos:</a>
                        <span>
                        <strong>Evento 1</strong><br/>
                        Dia - 01/01/2016<br/>
                        Local: Rua Campinas - Campinas/SP
                            <div class="btn btn-square text-center">
                                <p>+</p>
                            </div>
                        <hr/>
                        <strong>Evento 2</strong><br/>
                        Dia - 01/01/2016<br/>
                        Local: Rua Campinas - Campinas/SP
                            <div class="btn btn-square text-center">
                                <p>+</p>
                            </div>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <div class="footer-circle center-block text-center">
                                <i class="fa fa-facebook"></i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-circle center-block text-center">
                                <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-circle center-block text-center">
                                <i class="fa fa-linkedin"></i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-circle center-block text-center">
                                <i class="fa fa-youtube"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                    <div class="col-md-6 text-left">
                        <p>R. Francisco Juliato, 79 - Vale Verde, Valinhos - SP, 13279-000</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>© 2016 Vermeer Brasil. Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock footercontent %}