{# footer.twig #}

{% block footer %}
<footer class="text-center animated slideInUp">
    <h6><a href="http://jotacom.com.br">Desenvolvimento Grupo Jota</a></h6>
</footer>
{{wp_footer}}
</body>
</html>
{% endblock footer %}