{# middlebar.twig #}

{% block middlebar %}

<div class="container-flex middlebar">
        <div class="row">
            <div class="col-md-12 text-center">
                <br/>
                <h5 class="text-left">{{parent.name}}</h5>
                <h1 class="text-left"><small>{{category.description}}</small> {{ post.title }}</h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-justify">
                <p>{{ post.content }}</p>
            </div>
        </div>
</div>

{% endblock middlebar %}