{# 'photo-stripe.twig' #}

{% if post.thumbnail %}
    <div class="row-spacer"></div>
    <div class="photo-stripe" style="background: url({{ post.thumbnail.src }}); background-size: cover;">
    </div>
{% else %}
    <div class="row-spacer"></div>
{% endif %}