{# 'photo-stripe.twig' #}

<div class="row-spacer"></div>
{% if post.thumbnail %}
    <div class="photo-stripe" style="background: url({{ post.thumbnail.src }}); background-size: cover;">
    </div>
{% endif %}