{# rightbar.twig #}

{% block rightbar %}

<div class='rightbar blur'>
            <div class="container wow fadeIn">
                <div class="row">
                    <div class="col-md-3">
                        <br/>
                        <p>5 de outubro de 2016</p>
                        <h3><strong>Últimas Notícias</strong></h3>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                        <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                        <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                        <br/>
                        <br/>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                        <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                        <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                        <br/>
                        <br/>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                        <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                        <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                        <br/>
                        <br/>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                        <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                        <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                        <br/>
                        <br/>
                        <hr/>
                    </div>
                </div>
            </div>
        </div><!-- /.rightbar -->

{% endblock rightbar %}